



.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .4s ease-in-out;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons div {
  background: rgba(255,255,255,0.7);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  
}



.slider-buttons div:hover {
  background-color: #000;
}

.slider-buttons div:hover svg {
  fill: #fff;
}

.slider-buttons div svg {
  fill: #000;
  transition: fill 0.3s ease; /* Add this line */
}

























#testimonials {
  background-color: #ffffff;
  padding: 50px;
  max-height: 100vh;
}

.testimonials-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial {
  max-width: 35vw;
  min-height: 25vh;
  max-height: 280px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  margin-bottom: 30px;
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
}

.testimonial img {
  max-width: 200px;
  border-radius: 30%;
}

.testimonial h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.testimonial h3, .testimonial p{
  color: black;
}

.slider-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 305px;
}

.slider-arrows button {
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.slider-arrows button:hover {
  opacity: 0.8;
}

.yelp-word{
  height: 15vw;
  width: auto;
  margin-right: 30px;
}

.test_subt {
  display: none;
  font-size: 1em;
  font-weight: lighter;
  color: #000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  margin: auto;
}




@media screen and (max-width: 767px) {
  .yelp-word{
    height: 100px;
    width: auto; 
  }
  .slider{
    height: 87vh;
  }
  .testimonial {
    height: 250px;
    overflow: auto;  /* Add this */
  }
  .test_subt {
    display: block;
  }
  .slider-arrows{
    margin: auto;
    width: 200px; /* Adjust this as per your requirement */
  }
}

