body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.my-container {
  max-width: 80vw;
  min-width: 300px;
  margin: 0 auto;
}

h1, h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin: 0 7.5px; /* Set the side margin to half of the desired gap to ensure the gap between elements is 15px */
}

.short-input {
  width: calc(25% - 15px); /* Short input, 4 boxes per row */
}

.medium-input {
  width: calc(33.3333% - 15px); /* Medium input, 3 boxes per row */
}

.long-input {
  width: calc(50% - 15px); /* Long input, 2 boxes per row */
}

.full-input {
  width: 100%; /* Full input, 1 box per row */
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 0 7.5px; /* Set the side margin to half of the desired gap to ensure the gap between elements is 15px */
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;  /* Full width of each row should be 80% at maximum */
  margin-left: auto;
  margin-right: auto;
}

form{
  width: 50%; 
  height: 35vh;
}

.centered-container-parent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 70vh; /* Use the full height of the viewport */
  width: 100vw; /* Use the full width of the viewport */
}



.submit-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
}

#submit-button {
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 50px; /* Circular on the left, straight on the right */
  background-color: #f00; /* Adjust background color as needed */
  color: #fff; /* Adjust text color as needed */
  cursor: pointer;
  outline: none;
}

#submit-button:hover {
  background-color: #c00; /* Darker shade on hover for visual feedback */
}

/*input, textarea {
  width: 60vw;
}*/

form {
  background: #333;
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 5px;
}

#contact_title {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  
}

label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

input[type="text"], input[type="email"], textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #666;
  background: #000;
  color: #fff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type="submit"] {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #E82127;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #AE1B1A;
}


@media (max-width: 600px) {
  .short-input, .medium-input, .long-input, .full-input {
    width: 100%; 
  }

  form {
    padding-bottom: 160px;
  }


  #contact_title {
    font-size: 1.5em;
  }

  input[type="text"], input[type="email"], textarea {
    width: calc(100% - 20px); /* Adjust this value if needed */
    box-sizing: border-box; /* To include padding and border in element's total width and height */
  }

  input[type="submit"] {
    width: 30%;
  }
}