body {
  background: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

.my-container {
  max-width: 80vw;
  min-width: 300px;
  margin: 0 auto;
}

h1, h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}


/*input, textarea {
  width: 60vw;
}*/

form {
  background: #333;
  padding: 20px;
  border-radius: 5px;
}

#contact_title {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

input[type="text"], input[type="email"], textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #666;
  background: #000;
  color: #fff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type="submit"] {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #E82127;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #AE1B1A;
}


@media (max-width: 600px) {
  

  form {
    padding: 10px;
  }

  #contact_title {
    font-size: 1.5em;
  }

  input[type="text"], input[type="email"], textarea {
    width: calc(100% - 20px); /* Adjust this value if needed */
    box-sizing: border-box; /* To include padding and border in element's total width and height */
  }

  input[type="submit"] {
    width: 30%;
  }
}